@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

#root{
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Raleway', sans-serif;
}


body {
  margin: 0;
}
.responsive {
  width: 100%;
  height: auto;
}

