@import 'components/styles/colors.scss';

.home {
    .list {
        margin: 8px 0;
        width: 600px;

        // it is equivalent to .list-item
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 2px;
            border-bottom: 1px solid $primary;

            .avatar {
                border-radius: 50%;
            }
        }
    }
}