@import 'components/styles/colors.scss';

.app-header {
  display: flex;
  align-items: center;
  color: $primary;
  font-weight: 600;
  box-shadow: 1px 1px 10px 1px #a0a2a6;
  height: 60px;
  padding: 0px 12px;
  padding-top: 4px;

  @media (max-width: 1200px) {
    padding: 0 12px;
    padding-top: 4px;
  }

  &-title {
    font-size: 24px;
    margin-right: 12px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .user-details {
    flex-grow: 1;
  }

  &-link {
    font-size: 18px;
    padding: 0 12px;
    color: black;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 0 8px;
    }

    &-active {
      color: $primary;
    }
  }

  &-link:hover {
    color: $primary;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
  }

  .context-menus {
    @media (max-width: 1023px) {
      display: none;
    }
    .context-button {
      margin-left: -8px !important;
      margin-right: 8px !important;
      font-size: 14px !important;
      min-width: max-content !important;
    }
  }
}
