@import 'components/styles/colors.scss';

.page-container {
  padding: 8px 20px;
  min-height: calc(100vh - 80px);

  @media (max-width: 1200px) {
    padding: 8px 20px;
  }
}

.card {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px #a0a2a6;
}

.dashboard-card {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px #a0a2a6;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 8px;
    margin-bottom: 16px;
  }

  &-group {
    color: $primary;
    font-size: 24px;
    // margin-right: 12px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &-code {
    color: $primary;
    font-size: 24px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.page-header {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-size: 28px;
    color: $primary;
  }

  &-actions {
    display: flex;
    align-items: center;

    button {
      height: 32px;
      font-size: 14px;
      margin-right: 8px;
    }
  }
}

.back-to-link {
  font-size: 16px;
  color: $primary;
  cursor: pointer;
  margin-bottom: 4px;
  text-decoration: underline;
}
